/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 0;
    top: 0;
    z-index: 1000;
    width: 100% !important;
}

.contact-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 4rem;
}

.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    width: 100% !important;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}